*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Variables */
    --primary-color: #151515;
    --secondary-color: #444444;
    --accent-color: #d5966c;
    --white-color: #ffffff;
    /* Typography Variables */
    --font-family-heading-xl: "Big Shoulders", sans-serif;
    --font-weight-heading-xl: 900;
    --font-size-heading-xl: 96px;
    --font-line-height-heading-xl: 88px;
    /* ### */
    --font-family-heading-l: "Big Shoulders", sans-serif;
    --font-size-heading-l: 70px;
    --font-family-heading-m: "Big Shoulders", sans-serif;
    --font-size-heading-m: 60px;
    --font-family-heading-s: "Big Shoulders", sans-serif;
    --font-size-heading-s: 36px;
}

.cta {
    height: 800px;
    margin-right: 164px;
}

.black-bg-portion {
    position: relative;
    height: 800px;
    width: 450px;
    background-color: var(--primary-color);
}

h1 {
    position: absolute;
    width: 800px;
    margin-top: 200px;
    margin-left: 185px;
    font-family: var(--font-family-heading-xl);
    font-size: var(--font-size-heading-xl);
    font-weight: var(--font-weight-heading-xl);
    line-height: var(--font-line-height-heading-xl);
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: -0.03em; /* Condensed letter spacing */
}
